<header data-bs-theme="dark">

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'catalog:index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{% url 'blogs:list' %}" class="nav-link px-2">Блоги</a></li>
                <li><a href="{% url 'catalog:contacts' %}" class="nav-link px-2">Контакты</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'users:profile' %}" class="nav-link px-2"> {{ user }}</a></li>
                <li><a href="{% url 'users:logout' %}" class="nav-link px-2">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}" class="nav-link px-2">Войти</a></li>
                <li><a href="{% url 'users:register' %}" class="nav-link px-2">Регистрация</a></li>
                {% endif %}
            </ul>
        </header>
    </div>
</header>
