<div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h2 class="cover-heading">Интернет магазин</h2>
            <row class="nav nav-masthead justify-content-left">
            <a class="nav-link active" href="{% url 'catalog:index' %}">Домой</a>
            <a class="nav-link active" href="{% url 'blogs:list' %}">Блоги</a>
            <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>
        </div>
    </header>
</div>
