<header data-bs-theme="dark">

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'catalog:index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{% url 'blogs:list' %}" class="nav-link px-2">Блоги</a></li>
                <li><a href="{% url 'catalog:contacts' %}" class="nav-link px-2">Контакты</a></li>
<!--                <li><a href="#" class="nav-link px-2">FAQs</a></li>-->
<!--                <li><a href="#" class="nav-link px-2">About</a></li>-->
            </ul>
            <div class="col-md-3 text-end">
<!--                <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
<!--                <button type="button" class="btn btn-primary">Sign-up</button>-->
            </div>
        </header>
    </div>
</header>

<!--<div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">-->
<!--    <header class="masthead mb-auto">-->
<!--        <div class="inner">-->
<!--            <h2 class="cover-heading">Интернет магазин</h2>-->
<!--            <row class="nav nav-masthead justify-content-left">-->
<!--            <a class="nav-link active" href="{% url 'catalog:index' %}">Домой</a>-->
<!--            <a class="nav-link active" href="{% url 'blogs:list' %}">Блоги</a>-->
<!--            <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>-->
<!--        </div>-->
<!--    </header>-->
<!--</div>-->
