{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="cart-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <button><a href="{% url 'blogs:list' %}" class="btn btn-warning">Отмена</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}