{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {% if object %}
                        <h3>Изменить продукт</h3>
                        {% else %}
                        <h3>Добавить продукт</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        {% user_groups as user_group %}
        {% if object and user.groups.all.0 == user_group %}
        <div class="col-5">
            {% for form in formset %}
            <div class="card-title">
                <h3>Добавить версию</h3>
            </div>
            <div class="card input">
                <div class="col">
                    {{ formset.management_form }}
                    {{ form.as_p }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <p><button type="submit" class="btn btn-success">Сохранить</button></p>
    </form>

</div>

<br>
{% endblock %}