<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">Заголовок карточки</h3>
        <p class="card-text">Небольшой пример текста, который должен основываться на названии карты и составлять
            основную часть содержимого карты.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Элемент</li>
        <li class="list-group-item">Второй элемент</li>
        <li class="list-group-item">Третий элемент</li>
    </ul>

</div>

</body>
</html>